.gradle
/build
**/build
*.log
logs/
**/logs/
local.properties
*.iml
.idea
.DS_Store
captures
*.apk
*.aab
*.class
key.properties
keystore.properties
upload-keystore.jks
app/src/main/assets/adi-registration.properties
.kotlin/
*.jks
*.keystore
.env